<div class="w-100 h-100 d-flex justify-content-center align-items-center">
  <div class="card" style="max-width: 300px !important">
    <div class="card-body">
      <form class="row g-3">
        <div class="col-md-12 d-flex justify-content-center align-items-center">
          <img
            class="img-fluid"
            src="../../../assets/unileste_logo.png"
            alt="Logo da Unileste"
          />
        </div>
        <div class="col-md-12 d-flex justify-content-stretch">
          <button
            class="btn btn-primary flex-grow-1"
            (click)="loginMicrosoft()"
          >
            <fa-icon [icon]="faMicrosoft" />
            Microsoft
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

@if (successMessage) {
<div class="position-absolute top-0 end-0">
  <ngb-alert #selfClosingAlert type="danger" (closed)="successMessage = ''">{{
    successMessage
  }}</ngb-alert>
</div>
}
