<div class="container-sm">
  <div class="card m-2">
    <div class="card-body">
      <div class="row g-3 mb-3">
        <div class="col-md-12">
          <label for="espacoInput" class="form-label">Espaço</label>
          <select
            class="form-select"
            name="espaco"
            id="espacoInput"
            [(ngModel)]="reservaInfo.centroEsportivo"
            (change)="checarDisponibilidade()"
          >
            <option [value]="null" disabled selected>
              Selecione uma opção
            </option>
            <option *ngFor="let ct of centrosEsportivos" [value]="ct.ID">
              {{ ct.descricao }}
            </option>
          </select>
        </div>
      </div>

      <label for="" class="card-title">Horarios</label>

      <div
        style="display: flex; align-items: center; justify-content: center"
        *ngIf="filterCalendario.length == 0"
      >
        <span>Selecione um centro esportivo acima</span>
      </div>

      <div class="calendar" *ngIf="filterCalendario.length > 0">
        <div class="calendar-body">
          <div *ngFor="let data of filterCalendario" class="calendar-day">
            <div class="day-title">
              <span>{{ diaDaSemana(data.data) }}</span>
              <span>{{ formatDate(data.data) }}</span>
            </div>

            <div class="horarios-wrapper">
              <div *ngIf="!data.valid" class="invalid-date"></div>

              <button
                *ngFor="let horario of data.horarios"
                class="horario btn"
                [disabled]="horario.reservas.length > 0"
                [ngClass]="
                  data.data == reservaInfo.dataReserva &&
                  horario.ID == reservaInfo.horarioID
                    ? 'horario-livre btn-success'
                    : horario.reservas.length > 0
                    ? 'horario-reservado btn-danger disabled-btn'
                    : 'horario-livre btn-outline-success'
                "
                (click)="selecionarHorario(data.data, horario.ID)"
              >
                <span>{{ horario.inicio }}h às {{ horario.fim }}h</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card m-2">
    <div class="card-body">
      <form action="" class="row g-3">
        <div class="col-md-8">
          <label for="responsavelInput" class="form-label">Responsável</label>
          <input
            type="text"
            class="form-control"
            name="responsavel"
            id="responsavelInput"
            disabled
            [(ngModel)]="usuarioLogado.nome"
          />
        </div>

        <div class="col-md-4">
          <label for="telefoneInput" class="form-label">Telefone</label>
          <input
            type="text"
            class="form-control"
            name="telefone"
            id="telefoneInput"
            disabled
            [(ngModel)]="usuarioLogado.telefone"
          />
        </div>

        <div class="col-md-12">
          <label for="cursoInput" class="form-label">Curso</label>
          <input
            type="text"
            class="form-control"
            name="curso"
            id="cursoInput"
            disabled
            [(ngModel)]="usuarioLogado.curso"
          />
        </div>

        <div class="col-md-8">
          <label for="emailInput" class="form-label">E-mail</label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="emailInput"
            disabled
            [(ngModel)]="usuarioLogado.email"
          />
        </div>

        <div class="col-md-4">
          <label for="registroInput" class="form-label">Registro</label>
          <input
            type="text"
            class="form-control"
            name="registro"
            id="registroInput"
            disabled
            [(ngModel)]="usuarioLogado.RA"
          />
        </div>
      </form>
    </div>
  </div>

  <div class="card m-2">
    <div class="card-body">
      <form action="" class="row g-3">
        <div class="col-md-12">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Nome"
              aria-describedby="button-addon2"
              matInput
              [formControl]="autocompleteControl"
              [matAutocomplete]="auto"
              (keyup)="filterAutocomplete()"
            />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              @for (opcao of filteredOptions | async; track opcao) {
              <mat-option [value]="opcao.nome">{{ opcao.nome }}</mat-option>
              }
            </mat-autocomplete>

            <button
              class="btn btn-success"
              type="button"
              id="button-addon2"
              (click)="adicionarParticipante()"
            >
              Adicionar
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="m-2">
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="width: 5%" scope="col"></th>
            <th style="width: 20%" scope="col">RA</th>
            <th style="width: 35%" scope="col">Nome</th>
            <th style="width: 20%" scope="col">Usuário</th>
            <th style="width: 10%" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of participantes; index as i">
            <th style="width: 5%" scope="row">{{ i + 1 }}</th>
            <td style="width: 20%">
              <input type="text" class="form-control" [(ngModel)]="p.RA" />
            </td>
            <td style="width: 35%">{{ p.nome }}</td>
            <td style="width: 20%">{{ p.usuario }}</td>
            <td style="width: 10%">
              <button
                class="btn btn-outline-danger"
                (click)="removerParticipante(i)"
              >
                <fa-icon [icon]="faTimes"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="m-2">
      <div class="d-flex justify-content-stretch col-md-12">
        <button
          class="btn btn-success flex-grow-1"
          [disabled]="
            participantes.length < ctSelecionado.minimoParticipantes ||
            reservaInfo.centroEsportivo == null ||
            reservaInfo.dataReserva == null ||
            reservaInfo.horarioID == null
          "
          (click)="fazerReserva()"
        >
          RESERVAR
        </button>
      </div>
    </div>
  </div>
</div>

@if (invalidAlunos !== null) {
<div class="position-fixed top-0 end-0 m-3" style="z-index: 99999">
  <ngb-alert #selfClosingAlert type="danger" (closed)="invalidAlunos = null">
    <!-- {{ invalidParticipantsMessage }} -->

    <div class="d-flex flex-column">
      <span>O(s) aluno(s) a seguir estao com o RA incorreto: </span>
      @for (aluno of invalidAlunos; track $index) {
      <span>{{ aluno.nome }}</span>
      }
    </div>
  </ngb-alert>
</div>
}
