<div class="container-sm">
  <div class="card m-2">
    <div class="card-body">
      <h2 class="card-title">Minhas reservas</h2>
      <p *ngIf="minhasReservas.length == 0" class="text-center">
        Nenhuma reserva encontrada
      </p>

      <div class="row row-cols-2">
        <div class="col" *ngFor="let reserva of minhasReservas">
          <div class="card my-2">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h2 class="card-title">
                  {{ reserva.formattedDate }} <br />{{
                    reserva.horario.inicio
                  }}h às {{ reserva.horario.fim }}h
                </h2>
                <div>
                  <button
                    (click)="editar(reserva.ID)"
                    class="m-1 btn btn-warning"
                  >
                    <fa-icon [icon]="faEdit" />
                  </button>
                  <button
                    (click)="openModal(reserva.ID)"
                    class="m-1 btn btn-danger"
                  >
                    <fa-icon [icon]="faTimes" />
                  </button>
                </div>
              </div>

              <h3>{{ reserva.formattedCtEsport }}</h3>

              <div
                class="card"
                style="
                  max-height: 300px !important;
                  overflow-x: hidden;
                  overflow-y: auto;
                "
              >
                <div class="card-body">
                  <table class="table">
                    <!-- <thead>
                      <tr>
                        <th scope="col">Usuário</th>
                        <th scope="col">RA</th>
                      </tr>
                    </thead> -->
                    <tbody>
                      <tr *ngFor="let p of reserva.participantes; index as i">
                        <td>{{ p.usuario }}</td>
                        <td>{{ p.RA }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  #modal
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Deseja realmente excluir esta reserva?
        </h1>
        <!-- <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button> -->
      </div>
      <!-- <div class="modal-body">
        <p>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
      </div> -->
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
         -->
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Cancelar
        </button>
        <button type="button" class="btn btn-danger" (click)="excluir()">
          Excluir
        </button>
      </div>
    </div>
  </div>
</div>
